* {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px){
.wrapper {
    max-width: 970px;
}
}

@media (min-width: 768px){
.wrapper {
    max-width: 750px;
}
}

/* Typography styling */

h1 {
  color: #86CDD1;
  font-size: 40px;
  font-weight: 300;
}

h2 {
  color: #2090A4;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 15px;
}

p,
a {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
}

.white-text {
    color: white;
}

/* header styling */

.header-background {
  width: 100%;
  /* height: 450px; */
  height: 500px;
  background-color: #86CDD1;
  color: white;
  padding-top: 50px; /* for fixed top header */
  z-index: -1; /* for header layer */
}

.tiffany-img {
  z-index: 0;
  margin-top: -6em;
}

/* Styling for typwriter animation */

.header-text {
  padding-top: 130px;
  font-size: 40px;
  color: white;
  margin: auto;
}


@media (min-width: 700px) {

.header-text {
  padding-top: 170px;
  font-size: 60px;
}

}

@media (min-width: 1200px) {

.header-text {
  padding-top: 170px;
  font-size: 70px;
}

}

/* menu styling */


nav ul {
  /* flexbox styling */
	display: flex;
  justify-content: center;
  display: -webkit-box; /* flexbox voor safari */
  -webkit-box-pack: center; /* justify-content voor safari */
	list-style-type: none;
  /* fixed menu styling */
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
  height: 60px
}

nav ul:first-child {
  padding-left: 2em;
}

nav li {
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
}

nav a {
	text-decoration: none;
	color: black;
}

/* hover menu colour */

nav a:hover {
	color: #86CDD1;
}

/* padding for menu sections  */

#projects,
#contact {
  padding-top: 80px;
}

/* Styling sections */

.intro {
  padding-bottom: 6em;
}

.contact {
  padding-bottom: 7em;
}

.carousel-item {
  padding-top: 2em;
  padding-bottom: 2em
}

  .description {
    background-color: #86CDD1;
    padding-bottom: 6em;
    padding-top: 3em;
  }

  .padding-projects-section {
    padding-top: 2em;
  }

  .circle-img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 10px solid white;
  }

/* button styling */

	.button {
		width: 80%;
		margin: 30px 10% 0px 10%;
    color: white;
		background-color: white;
    color: #86CDD1;
		border: solid 2px #86CDD1;
		padding: 5px;
		border-radius: 180px;
		font-size: 16px;
		text-decoration: none;
    transition: 0.3s;
	}

	.button:hover {
		background-color: #86CDD1;
		color: white;
	}

@media (min-width: 500px) {
  .button {
    	width: 33%;
      margin: 30px 33% 0px 33%;
  }
}

/* footer styling */

footer {
  background-color: #86CDD1;
  padding: 3em;
}

.carousel-indicators,
.carousel-control {
  display: none;
}

/* CSS only carousel*/

@media (min-width: 600px) {

.carousel-inner {
    position: relative;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 1;
}

.carousel-item {
    position: absolute;
    opacity: 0;
}

.carousel-control {
    color: white;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10%;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #2090A4;
}

}

/* Project section styling */

/* project card styling  */

.project-img {
  width: 75%;
}

.project-1,
.project-2,
.project-3 {
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
}

.project-1 {
  background-color: #86CDD1;
}

.project-2 {
  background-color: #EE6366;
}

.project-3 {
  background-color: #F8B818;
}

/* project cards typography */

.project-h1 {
  font-size: 27px;
  padding-top: 0.5em;
  line-height: 32px;
}

.project-h2 {
  font-weight: lighter;
  font-size: 16px;
  padding-bottom: 1em;
}

/* white space around cards on bigger screens */

@media (min-width: 600px) {
.project-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
}

@media (min-width: 992px){
.project-wrapper {
    max-width: 970px;
}
}

@media (min-width: 600px){
.project-wrapper {
    max-width: 750px;
}
}

/* project button styling  */

	.project-button-1,
  .project-button-2,
  .project-button-3 {
		width: 80%;
		margin: 30px 10% 0px 10%;
    color: white;
    border: solid 2px white;
		padding: 5px;
		border-radius: 180px;
		font-size: 16px;
		text-decoration: none;
    transition: 0.3s;
	}

  .project-button-1 {
    background-color: #86CDD1;
  }

  .project-button-1:hover {
    background-color: white;
    color: #86CDD1;
  }

  .project-button-2 {
    background-color: #EE6366;
  }

  .project-button-2:hover {
    background-color: white;
    color: #EE6366;
  }

  .project-button-3 {
    background-color: #F8B818;
  }

  .project-button-3:hover {
    background-color: white;
    color: #F8B818;
  }

  @media (min-width: 500px) {
    .project-button-1,
    .project-button-2,
    .project-button-3 {
      	width: 33%;
        margin: 30px 33% 0px 33%;
    }
}
